* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1140px;
  margin: auto;
}

body {
  background-color: #F5F8FF;
}


/*primary font*/

.primary-font {
  font-family: "Raleway", sans-serif;
}

/*secondary font*/
.secondary-font {
  font-family: "Inter", sans-serif;
}




/* ---------------------------- section divider-------------------------------- */


.shared-img {
  background-image: url(../Assets/Hero-bg.png);
}

/*navigation*/
.nav {
  border: 1px solid rgb(255, 0, 0);
  display: flex;

  width: 1140px;
  height: 150px;

  justify-content: space-between;
  align-items: center;

  margin: auto;
}

.nav-logo {
  text-decoration: none;

  font-size: 35px;
  font-weight: 900;

  color: #4e47ff;
}

.nav-btn {
  font-size: 16px;
  font-weight: bold;

  background-color: #4e47ff;
  color: white;

  border: none;
  border-radius: 8px;

  padding: 12px 32px;

  cursor: pointer;
}

.nav-btn:hover {
  background-color: #3b37b1;
}



/* ---------------------------- section divider-------------------------------- */



/*hero section*/
.hero {
  border: 1px solid black;

  height: 550px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.hero-title {
  font-size: 65px;
  font-weight: bold;
  color: #252432;

  text-align: center;

  margin-top: 160px;
}

.hero-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #4e47ff;
  color: white;

  border: none;
  border-radius: 8px;

  padding: 12px 36px;

  cursor: pointer;
}

.hero-btn:hover {
  background-color: #3b37b1;
}


/*main-action part*/
.action-part {
  display: flex;

  width: 1140px;

  justify-content: center;
  align-items: center;

  margin: auto;

  gap: 220px;

  

  margin-top: 120px;
}
  

.action-content-title {
  font-size: 42px;
  font-weight: bold;

  color: #252432;
}

.action-content-description {
  font-size: 24px;
  font-weight: 400;

  color: #252432;

  margin: 24px 0;
}

.action-content-btn {
  font-size: 16px;
  font-weight: bold;

  background-color: #4e47ff;
  color: white;

  border: none;
  border-radius: 8px;

  padding: 12px 36px;

  cursor: pointer;

}

.action-content-btn:hover {
  background-color: #3b37b1;
}
  

.action-img {

  border-radius: 48px;
}



/* ---------------------------- section divider-------------------------------- */

/*main-preview part*/
.preview-part {
  width: 1140px;
  background-color: rgb(229, 231, 255);

  margin: auto;
  margin: 120px;

  border-radius: 24px;
}


.preview-heading {
  text-align: center;

  padding-top: 50px;

}

.preview-title {
  font-size: 38px;
  font-weight: bold;
  color: #252432;


}


.preview-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 50px;

}

.preview-content-1-title {

  font-size: 80px;
  font-weight: bold;

  color: #4E47FF;

}

.preview-content-1-description {
  font-size: 20px;
  font-weight: 400;

  text-align: center;

  
}

.preview-content-2-title {
  font-size: 80px;
  font-weight: bold;

  color: #4E47FF;
}

.preview-content-2-description {
  font-size: 20px;
  font-weight: 400;

  text-align: center;

  
}

.preview-content-3-title {
  font-size: 80px;
  font-weight: bold;

  color: #4E47FF;
}

.preview-content-3-description {
  font-size: 20px;
  font-weight: 400;

  text-align: center;

  
}



/* ---------------------------- section divider-------------------------------- */

/* main-review part */

/* review-part-heading */
.border {
  border: 1px solid black;
}

.review-heading {
  text-align: center;

  /* margin: 50px; */
}

.review-title {
  font-size: 42px;
  font-weight: bold;

  color: #252432;
}

/*review-part-card*/

.review-cards {
  display: flex;
  

  padding: 50px;
  gap: 20px;
}



.review-card-1 {
  /* border: 1px solid black; */

  width: 367px;
  height: 250px;
}

.review-card-2 {
  /* border: 1px solid black; */

  width: 367px;
  height: 250px;
}

.review-card-3 {
  /* border: 1px solid black; */

  width: 367px;
  height: 250px;
}


/* review-card-1*/
.review-card-1{
  background-color: #ffffff;

  border-radius: 14px;
}
.review-card-star{
  margin: 24px;
}

.review-card-person {
  display: flex;
  align-items: center;

  gap: 20px;
}
.review-card-content {
  margin: 24px;

}
.review-card-person {
  margin: 24px;
}
.review-card-person-img {
  max-width: 100%;
  height: auto;
  display: block;

  border-radius: 50%;
}
.review-card-content-title {
  font-size: 24px;
  font-weight: semi-bold;
  color: #1E1E1E;
}
.review-card-content-description {
  font-size: 16px;
  font-weight: 400;
  color: #1E1E1E;

  margin-top: 8px;
}
.review-card-person-details {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

/* review-card-2*/
.review-card-2{
  background-color: #ffffff;

  border-radius: 14px;
}

/* review-card-3*/
.review-card-3{
  background-color: #ffffff;

  border-radius: 14px;
}



/* ---------------------------- section divider-------------------------------- */

/* main- botttom preview part */

.bottom-preview {
  background-color: #ffffff;

  border-radius: 14px;
}





/*bottom preview heading*/
.bottom-preview-contents {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;
  gap: 20px;
}
.bottom-preview-contents-title {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.bottom-preview-contents-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.bottom-preview-contents-btn {
  font-size: 16px;
  font-weight: bold;

  color : white;
  background-color: #4e47ff;

  border: none;
  border-radius: 10px;

  padding: 12px 36px;

  cursor: pointer;
}
.bottom-preview-contents-btn:hover {
  background-color: #3b37b1;
}


/* bottom preview img */
.bottom-preview-contents-img {
  max-width: 100%;
  height: auto;
  display: block;

  

  margin: 0 auto;
  padding: 50px;
}





/* ---------------------------- section divider-------------------------------- */
.contact-part-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 100px;

}



/* contact-part-heading */
.contact-part-heading-title{
  font-size: 97px;
  font-weight: bold;
  color: black;
}







/* contact-part-form */
.form-group label {
 font-size: 18px;
  font-weight: 500;

  color: black;

  padding-bottom: 20px;
}

.form-group input {
  padding : 16px 32px ;
  width: 300px;

  border: none;

  border-radius: 10px;

  background-color: #ffffff;
}
#message {
  padding : 16px 32px ;
  width: 300px;
  height: 150px;

  border-radius: 10px;
}
.form-btn {
  font-size: 16px;
  font-weight: bold;

  margin-top: 20px;
  width: 300px;
  padding: 16px 32px;

  background-color: #4e47ff;
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}
.form-btn:hover {
  background-color: #3b37b1;
}